{% extends "registration/base_auth.html" %}

{% block meta %}
{% if user.is_authenticated %}<meta http-equiv="refresh" content="0; url=/playlist" />{% endif %}
{% endblock %}

{% block title %}AutoDJ - Login{% endblock %}

{% block content %}
    <br/>
    <div class="row clearfix">
        <div class="col-md-4 column"></div>
        <div class="col-md-4 column well">
            <h3>Please log in</h3>
            <form method="post" action="{% url "django.contrib.auth.views.login" %}">{% csrf_token %}
                {% load crispy_forms_tags %}
                {{ form|crispy }}
                <div class="row">
                    <div class="col-lg-8">
                        <p>Need an account? <a href="/#register">Register now</a></p>
                    </div>
                    <div class="col-lg-4">           
                        <button type="submit" value="login" class="btn btn-primary">Log In</button>
                    </div>
                 </div>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
        <div class="col-md-4 column"/></div>
    </div>
{% endblock %}