{% extends "registration/base_auth.html" %}

{% block title %}AutoDJ - Login{% endblock %}

{% block content %}
    <br/>
    <div class="row clearfix">
        <div class="col-md-4 column"></div>
        <div class="col-md-4 column well">
            <h3>Please log in</h3>
            <form method="post" action="{% url "django.contrib.auth.views.login" %}">{% csrf_token %}
                {% load crispy_forms_tags %}
                {{ form|crispy }}
                {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
                {% endif %}
                <div style="text-align: right;">
                    <button type="submit" value="login" class="btn btn-primary">Log In</button>
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
        <div class="col-md-4 column"/></div>
    </div>
{% endblock %}