<div class="row clearfix">
    <div class="col-md-12 column">
        <h1>My Library</h1>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-6 column">
        <p>If you have no pending song requests, music is selected from your personal library.</p>
    </div>
    <div class="col-md-6 column">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Paste YouTube video link here">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span> Add song</button>
          </span>
        </div><!-- /input-group -->
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12 column">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Duration</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1
                    </td>
                    <td>Lights - Ellie Golding</td>
                    <td>3:45</td>
                    <td><span class="glyphicon glyphicon-minus-sign"></span></td>
                </tr>
                
            </tbody>
        </table>

    </div>
</div>