<div class="row clearfix">
    <div class="col-md-12 column">
        <h1>My Library</h1>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-6 column">
        <p>If you have no pending song requests, music will be selected from your personal library.</p>
    </div>
    <div class="col-md-6 column">

        <form class="form-horizontal" id="libraryForm" action="{% url 'main.views.add_library_song' %}" method="POST">{% csrf_token %}
            <div class="control-group warning">
                <label class="control-label" for="inputWarning">Input with warning</label>
                <div class="controls">
                    <div class="input-group">
                          <input id="songurl" name="songurl" type="text" class="form-control" placeholder="Paste YouTube video link here">
                          <span class="input-group-btn">
                          <button id="addsong" class="btn btn-default" type="submit"><span class="glyphicon glyphicon-plus"></span> Add song</button>
                      </span>
                    </div><!-- /input-group -->
                </div>
            </div>
        </form>

    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12 column">

        <table id="libraryTable" class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Duration</th>
                    <th><span class="glyphicon glyphicon-link"></span></th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for song in library_songs %}
                <tr>
                    <td>{{ song.id }}</td>
                    <td><p>{{ song.title }}</p></td>
                    <td><p>{{ song.duration }}</p></td>
                    <td><a href="{{ song.url }}" target=blank><span class="glyphicon glyphicon-share-alt"></span></a></td>
                    <td><span class="glyphicon glyphicon-trash"></span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>