<script type="text/javascript">
    function secondsToHMS(time) {
        var mins = ~~(time / 60);
        var secs = time % 60;
        var hrs = ~~(time / 3600);
        var mins = ~~((time % 3600) / 60);
        var secs = time % 60;
        ret = "";
        if (hrs > 0)
            ret += "" + hrs + ":" + (mins < 10 ? "0" : "");
        ret += "" + mins + ":" + (secs < 10 ? "0" : "");
        ret += "" + secs;
        return ret;
    };

    function getYoutubeID(url) {
        var id = url.match("[\\?&]v=([^&#]*)");
        id = id[1];
        return id;
    };

    function getYoutubeData(url, id) {
        var video_id= getYoutubeID(url);
        var link = 'http://gdata.youtube.com/feeds/api/videos/'+video_id+'?v=2&alt=jsonc';
        $.ajax({
            type: "GET",
            url: link,
            crossDomain: true,
            contentType: "application/json; charset=utf-8",
            dataType: "jsonp", 
            success: function(data){
                $("#" + id + "-title p").text(data.data.title);
                $("#" + id + "-duration p").text(secondsToHMS(data.data.duration));
            } 
        });
    };
</script>

<div class="row clearfix">
    <div class="col-md-12 column">
        <h1>My Library</h1>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-6 column">
        <p>If you have no pending song requests, music is selected from your personal library.</p>
    </div>
    <div class="col-md-6 column">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Paste YouTube video link here">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span> Add song</button>
          </span>
        </div><!-- /input-group -->
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12 column">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Duration</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for song in library_songs %}
                <tr>
                    <td>{{ song.id }}</td>
                    <td id="{{ song.id }}-title"><p></p></td>
                    <td id="{{ song.id }}-duration"><p></p></td>
                    <td><span class="glyphicon glyphicon-minus-sign"></span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">
    {% for song in library_songs %}
        getYoutubeData("{{ song.url }}", "{{ song.id }}");
    {% endfor %}
</script>

