<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My AutoDJ Playlist</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="{{ STATIC_URL }}css/sb-admin.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/slider.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.dynatable.css">

    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.form.js"></script> 
    <script src="{{ STATIC_URL }}js/playlist.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-slider.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.dynatable.js"></script>
    <script src="http://popcornjs.org/code/dist/popcorn-complete.min.js"></script>
  </head>

  <body style="padding-bottom: 100px;">
    
    <div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'main.views.register_home' %}"><b>AutoDJ</b></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" style="outline:5px solid; outline-color:#34495e;">
          <ul class="nav navbar-nav side-nav">
            <li>
              <a href="#player" data-toggle="tab"><i class="glyphicon glyphicon-music"></i> &nbsp;Player</a>
            </li>
            <li>
              <a href="#library" data-toggle="tab"><i class="glyphicon glyphicon-book"></i> &nbsp;Library</a>
            </li>
            <li>
              <a href="#settings" data-toggle="tab"><i class="glyphicon glyphicon-cog"></i> &nbsp;Settings</a>
            </li>
            <li>
              <a href="#help" data-toggle="tab"><i class="glyphicon glyphicon-question-sign"></i> &nbsp;Help</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown pull-right">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-user"></span> Welcome {{ user.username }} <strong class="caret"></strong>&nbsp;&nbsp;</a>
                <ul class="dropdown-menu" id="navTab">
                    {% include 'usermenu.html' %}
                </ul>
            </li>

          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div id="page-wrapper">
        <noscript>
          <div class="alert alert-danger"><strong>Warning!</strong> You need Javascript enabled to use this site. <a href="http://enable-javascript.com/" target="blank"><strong>Learn more</strong></a></div>
        </noscript>

        <div class="tab-content">

          <div class="tab-pane active" id="player">{% include "playlist/queue.html" %}</div>

          <div class="tab-pane" id="library">{% include "playlist/library.html" %}</div>

          <div class="tab-pane" id="settings">Settings here</div>

          <div class="tab-pane" id="help">Help here</div>

        </div>

        <!-- Music controls-->
        <nav class="navbar navbar-default navbar-fixed-bottom" style="font-size:20px; z-index:1; text-align: center;">
        <a style="margin-right:115px;"></a>
        <a id="playpause" class="btn btn-primary btn-lg disabled"> 
        </a>
        <a id="skip" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-forward"></span>
        </a>
        <a href="#" style="margin-left:30px;"></a>
        <span id="volumeicon" style="color:#fff; top:5px; right:8px" class="glyphicon glyphicon-volume-up"></span>
        <div id="volume"></div>
        </nav>
        <!-- /Music controls-->

      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

    <!-- JavaScript -->
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    

  </body>
</html>