<h1>AutoDJ Player</h1><br/>

<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
          <div class="panel-heading">Request Queue <img id="loader" src="{{ STATIC_URL }}img/ajax-loader-small.gif"/></div>
          <table id="requestTable" class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Duration</th>
                    <th>Requested by</th>
                    <th>Time requested</th>
                    <th><span class="glyphicon glyphicon-link"></span></th>
                    <th>Remove</th>
                </tr>
            </tead>
            <tbody>
                
            </tbody>
          </table>
          <div id="norequests" class="panel-body"><center>You have no song requests.</center></div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="panel-heading">Now Playing</div> 
          <div id="nowplaying" class="panel-body">
            <div class="row well">
                <div class="col-sm-6">
                    <div id="videothumb"></div>
                </div>
                <div class="col-sm-6">
                    <p>Song title</p>
                    <p>Requested by:</p>
                </div>
            </div>
            <div id="videocontainer" style="position: relative; width: 500px; height: 340px;">
                <div id="musicplayer" style="align:center; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 1;"></div>
                <div style="position: absolute; top: 0; left: 0; z-index: 1; width: 100%; height: 100%;"></div>
            </div>
          </div>
          <div class="panel-footer">Up Next:</div>
        </div>
    </div>
</div>

