<h1>AutoDJ Player</h1><br/>

<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
          <div class="panel-heading">Request Queue</div>
          <table id="requestTable" class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Duration</th>
                    <th>Requested by</th>
                    <th>Time requested</th>
                    <th><span class="glyphicon glyphicon-link"></span></th>
                    <th>Remove</th>
                </tr>
            </tead>
            <tbody>
                
            </tbody>
          </table>
          <div id="norequests" class="panel-footer"><center>You have no song requests.</center></div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="panel-heading">Now Playing</div>
          <div id="nowplaying" class="panel-body">
            ...
          </div>
          <div class="panel-footer">Up Next:</div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" style="font-size:20px; z-index:-1; text-align: center;">
  <a style="margin-right:230px;"></a>
  <a class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-backward"></span>
  </a>
  <a class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-play"></span>
  </a>
  <a class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-forward"></span>
  </a>
  <a href="#" style="margin-left:30px;"></a>
  <span class="glyphicon glyphicon-volume-up"></span>
  <div id="volume"></div>
</nav>