<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.png">

    <title>AutoDJ</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/smoothscroll.js"></script>
    
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navigation" {% if anchor %}onload='location.href="#{{ anchor }}"'{% endif %}>

    <!-- Fixed navbar -->
        <div id="navigation" class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><b>AutoDJ</b></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#home" class="smoothscroll">Home</a></li>
                <li><a href="#desc" class="smoothscroll">Description</a></li>
                <li><a href="#showcase" class="smoothScroll">Showcase</a></li>
                <li><a href="#register" class="smoothScroll">Register</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li class="dropdown pull-right">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Welcome {{ user.username }}<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/playlist">My Playlist</a>
                        </li>
                        <li>
                            <a href="/accounts/logout">Log Out</a>
                        </li>
                    </ul>
                </li>
                {% else %}
                    <li><a id="modal-370252" href="#modal-container-370252" role="button" class="btn" data-toggle="modal">Log In</a></li>
                {% endif %}
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>

    <section id="home" name="home">
    <div id="headerwrap" style="outline:5px solid; outline-color:#34495e;">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-12">
                    <h1>Welcome To <b>AutoDJ</b></h1>
                    <h3>Show your product with this handsome theme.</h3>
                    <br>
                </div>
                
                <div class="col-lg-2">
                    <h5>Amazing Results</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <img class="hidden-xs hidden-sm hidden-md" src="{{ STATIC_URL }}img/arrow1.png">
                </div>
                <div class="col-lg-8">
                    <img class="img-responsive" src="{{ STATIC_URL }}img/app-bg.png" alt="">
                </div>
                <div class="col-lg-2">
                    <br>
                    <img class="hidden-xs hidden-sm hidden-md" src="{{ STATIC_URL }}img/arrow2.png">
                    <h5>Awesome Design</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="row centered" style="padding:20px;">
                <div class="col-lg-12">
                    <a href="/playlist"><button type="button" class="btn btn-warning" style="font-size: 30px;">My Playlist</button></a>
                </div>
            </div>
        </div> <!--/ .container -->
    </div><!--/ #headerwrap -->
    </section>

    
    <!-- INTRO WRAP -->
    <section id="desc" name="desc">
    <div id="intro">  
        <div class="container">
            <div class="row centered">
                <h1>Designed To Excel</h1>
                <br>
                <br>
                <div class="col-lg-4">
                    <img src="{{ STATIC_URL }}img/intro01.png" alt="">
                    <h3>Community</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="col-lg-4">
                    <img src="{{ STATIC_URL }}img/intro02.png" alt="">
                    <h3>Schedule</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="col-lg-4">
                    <img src="{{ STATIC_URL }}img/intro03.png" alt="">
                    <h3>Monitoring</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <br>
            <hr>
        </div> <!--/ .container -->
    </div><!--/ #introwrap -->
    
    <!-- FEATURES WRAP -->
    <div id="features">
        <div class="container">
            <div class="row">
                <h1 class="centered">What's New?</h1>
                <br>
                <br>
                <div class="col-lg-6 centered">
                    <img class="centered" src="{{ STATIC_URL }}img/mobile.png" alt="">
                </div>
                
                <div class="col-lg-6">
                    <h3>Some Features</h3>
                    <br>
                <!-- ACCORDION -->
                    <div class="accordion ac" id="accordion2">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                First Class Design
                                </a>
                            </div><!-- /accordion-heading -->
                            <div id="collapseOne" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                </div><!-- /accordion-inner -->
                            </div><!-- /collapse -->
                        </div><!-- /accordion-group -->
                        <br>
        
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                Retina Ready Theme
                                </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                                <div class="accordion-inner">
                                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                </div><!-- /accordion-inner -->
                            </div><!-- /collapse -->
                        </div><!-- /accordion-group -->
                        <br>
        
                         <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                Awesome Support
                                </a>
                            </div>
                            <div id="collapseThree" class="accordion-body collapse">
                                <div class="accordion-inner">
                                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                </div><!-- /accordion-inner -->
                            </div><!-- /collapse -->
                        </div><!-- /accordion-group -->
                        <br>
                        
                         <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                                Responsive Design
                                </a>
                            </div>
                            <div id="collapseFour" class="accordion-body collapse">
                                <div class="accordion-inner">
                                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                </div><!-- /accordion-inner -->
                            </div><!-- /collapse -->
                        </div><!-- /accordion-group -->
                        <br>            
                    </div><!-- Accordion -->
                </div>
            </div>
        </div><!--/ .container -->
    </div><!--/ #features -->
    </section>
    
    <section id="showcase" name="showcase">
    <div id="showcase"> 
        <div class="container">
            <div class="row">
                <h1 class="centered">Some Screenshots</h1>
                <br>
                <div class="col-lg-8 col-lg-offset-2">
                    <div id="carousel-example-generic" class="carousel slide">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                      </ol>
                    
                      <!-- Wrapper for slides -->
                      <div class="carousel-inner">
                        <div class="item active">
                          <img src="{{ STATIC_URL }}img/item-01.png" alt="">
                        </div>
                        <div class="item">
                          <img src="{{ STATIC_URL }}img/item-02.png" alt="">
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>    
        </div><!-- /container -->
    </div>  
    </section>

    <section id="register" name="register">
        <div id="footerwrap">
            <div class="container">           
                <div class="col-lg-7">
                    <h3>Register Now</h3>
                    <br>
                    {% load crispy_forms_tags %}
                    <form action="" method="post">{% csrf_token %}
                        {{ regform|crispy }}
                        <button class="btn btn-primary" type="submit">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <div id="c">
        <div class="container">
            <p>Copyright Here</p>    
        </div>
    </div>

    <div class="modal fade" id="modal-container-370252" role="dialog" aria-labelledby="login" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="login">
                        Log In
                    </h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url "django.contrib.auth.views.login" %}">{% csrf_token %}
                    {% load crispy_forms_tags %}
                    {{ loginform|crispy }}
                    <p>Need an account? <a href="#register" class="smoothScroll" onclick="$('#modal-container-370252').modal('hide')">Register now</a></p>
                </div>
                <div class="modal-footer">
                    <button type="submit" value="login" class="btn btn-primary">Log In</button>
                    </form>
                </div>
            </div>       
        </div>     
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script>
    $('.carousel').carousel({
      interval: 3500
    })
    </script>
  </body>
</html>